<section class="oe_container oe_dark lead">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color: #875A7B;">Inventory Adjustment Cancellation/Reverse</h2>
        <h3 class="oe_slogan">Inventory Adjustment Cancellation/Reverse</h3>
    </div>
    <div class="oe_row">
        <div class="oe_span12">
            <div class="panel panel-primary" id="wkid0">
                <div class="panel-heading" style="background-color: #3b5999;">
                    <h3 class="panel-title" style="font-size: 25px;">
                        <b>ERP Harbor Consulting Services</b>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info"
                        style="padding: 8px; font-weight: 300; font-size: 20px; background-color: #00A650;">
                        <i class="fa fa-arrow-circle-o-right" style="color: white;"></i> <b
                            style="color: white;"> Features </b>
                    </div>
                    <ul class="list-unstyled ">
                        <li><i class="fa fa-hand-o-right text-primary"></i> This module provides functionality to cancel or reverse adjusted stock.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="oe_container oe_dark lead">
    <div class="oe_row">
        <div class="oe_span12">
            <div class="panel panel-primary" id="wkid2">
                <div class="panel-heading" style="background-color: #00A650;">
                    <h3 class="panel-title" style="font-size: 25px;">
                        <i class="fa fa-cogs" style="color: white;"></i> <b
                            style="color: white;">How to cancel adjusted stock</b>
                    </h3>
                </div>
                
                <div class="panel-body">
                    <div class="alert alert-success"
                        style="padding: 8px; font-weight: 300; font-size: 20px; background-color: #3b5999;">
                        <i class="fa fa-cog" style="color: white;"></i> <b
                            style="color: white;">Configuration</b>
                    </div>
                    <!-- <p>
                        <img class="oe_picture oe_screenshot" src="company.png"
                            alt="ErpHarbor Consulting Service" width="850px" height="400px">
                    </p> -->

                    <p>
                        <h3>Go to setting and allow user to cancel stock.</h3>
                    </p>
                    <p>
                        <img class="oe_picture oe_screenshot" src="Inv9.png"
                             alt="ERP Harbor Consulting Services" width="900px" height="400px">
                    </p>
                </div>
                
                <div class="panel-body">
                    <div class="alert alert-success"
                        style="padding: 8px; font-weight: 300; font-size: 20px; background-color: #3b5999;">
                        <i class="fa fa-cog" style="color: white;"></i> <b
                            style="color: white;">Quick demo for adjust and reverse Inventory.</b>
                    </div>
                    <p>
                        <h3>First we will got to Inventory/opertions/Inventory adjsutment to update stock for product.</h3>
                    </p>
                    <p>
                        <img class="oe_picture oe_screenshot" src="Inv1.png"
                            alt="ERP Harbor Consulting Services" width="1100px" height="auto">
                    </p>
                    <p>
                        <h3>Before stock adjustment product onhand quantity is zero.</h3>
                    </p>
                    <p>
                        <img class="oe_picture oe_screenshot" src="Inv6.png"
                            alt="ErpHarbor Consulting Service" width="1100px" height="auto">
                    </p>
                    <p>
                        <h3>Now we will add stock with Inventory adjustment.Once we validated Inventory we can see cancel button to reverse stock.</h3>
                    </p>
                    <p>
                        <img class="oe_picture oe_screenshot" src="Inv2.png"
                            alt="ErpHarbor Consulting Service" width="1100px" height="auto">
                    </p>
                    <p>
                        <h3>After adding stock we can see updated product quantity.</h3>
                    </p>
                    <p>
                        <img class="oe_picture oe_screenshot" src="Inv3.png"
                            alt="ErpHarbor Consulting Service" width="1100px" height="auto">
                    </p>
                    <p>
                        <h3>After click on cancel button we can see that stock moves and product moves for product redmi note 8 cancelled.</h3>
                    </p>
                    <p>
                        <img class="oe_picture oe_screenshot" src="Inv7.png"
                            alt="ErpHarbor Consulting Service" width="1100px" height="auto">
                    </p>
                    <p>
                        <img class="oe_picture oe_screenshot" src="Inv8.png"
                            alt="ErpHarbor Consulting Service" width="1100px" height="auto">
                    </p>
                    <p>
                        <h3>we can also see that product quants for redmi note 8 is set to zero.</h3>
                    </p>
                    <p>
                        <img class="oe_picture oe_screenshot" src="Inv6.png"
                            alt="ErpHarbor Consulting Service" width="1100px" height="auto">
                    </p>
                </div>            
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <table
            style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;"
            width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td colspan="2"
                        style="font-size: 16px; color: #d74930; font-weight: bold; background-color: #3b5999;"
                        width="100%" align="center">
                        <center>
                            <a href="http://www.erpharbor.com/page/services" target="_blank"
                                style="color: #white;">
                                <h2 style="margin-top: 10px; color: white;">
                                    <span class="fa fa-certificate fa-1x" style="color: white;"><b>Our Odoo Services</b><span class="fa fa-certificate fa-1x"
                                        style="color: white;"></span></span>
                                </h2>
                            </a>
                        </center>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td colspan="2"
                        style="border-bottom: #004460 solid 1px; line-height: 10px;">&nbsp;
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table style="font-size: 13px; color: #697582; line-height: 25px;"
                            width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td width="30%"><span class="fa fa-globe fa-1x"
                                        style="color: #697582;"> <a
                                            href="http://www.erpharbor.com/page/services"
                                            style="color: #697582; text-decoration: none;">Odoo
                                                Training</a></span></td>
                                    <td width="30%"><span class="fa fa-globe fa-1x"
                                        style="color: #697582;"> <a
                                            href="http://www.erpharbor.com/page/services"
                                            style="color: #697582; text-decoration: none;">Odoo
                                                Customization</a></span></td>
                                    <td width="30%"><span class="fa fa-globe fa-1x"
                                        style="color: #697582;"> <a
                                            href="http://www.erpharbor.com/page/services"
                                            style="color: #697582; text-decoration: none;">Odoo
                                                Migration</a></span></td>
                                </tr>
                                <tr>
                                    <td width="30%"><span class="fa fa-globe fa-1x"
                                        style="color: #697582;"> <a
                                            href="http://www.erpharbor.com/page/services"
                                            style="color: #697582; text-decoration: none;">Odoo
                                                Integration</a></span></td>
                                    <td width="30%"><span class="fa fa-globe fa-1x"
                                        style="color: #697582;"> <a
                                            href="http://www.erpharbor.com/page/services"
                                            style="color: #697582; text-decoration: none;">Odoo
                                                Onsite/Offshore Developement</a></span></td>
                                    <td width="30%"><span class="fa fa-globe fa-1x"
                                        style="color: #697582;"> <a
                                            href="http://www.erpharbor.com/page/services"
                                            style="color: #697582; text-decoration: none;">Odoo
                                                Implementation</a></span></td>
                                </tr>
                                <tr>
                                    <td width="30%"><span class="fa fa-globe fa-1x"
                                        style="color: #697582;"> <a
                                            href="http://www.erpharbor.com/page/services"
                                            style="color: #697582; text-decoration: none;">Odoo
                                                Consultancy</a></span></td>
                                    <td width="30%"><span class="fa fa-globe fa-1x"
                                        style="color: #697582;"> <a
                                            href="http://www.erpharbor.com/page/services"
                                            style="color: #697582; text-decoration: none;">Odoo
                                                Support</a></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<section style="margin-top: -20px;">
    <div class="oe_dark oe_quote"
        style="height: 350px; background-color: #EFEFEF;">
        <div class="col-md-12">
            <div class="col-md-6">
                <h3 class="oe_slogan">
                    <b style="position: relative;right:50px;bottom:20px">Odoo Support Services</b>
                </h3>
                <p style="position: relative;right:11px;bottom:35px">We are working towards make enterprise solutions available &
                    easy for all small & medium organisations to grow them better with
                    higher growth rate. We truly believe in Open Source culture so
                    services we are providing, is only in open source products.</p>
                <img class="oe_photo" src="logo.png"
                    alt="ERP Harbor Consulting Services" width="250px" height="90px">
            </div>
            <div class="col-md-6 text-left">
                <div class="oe_author">
                    <b style="position: relative;top:5px">Get In Touch</b>
                </div>
                <br>
                <div class="oe_job">
                    <i class="fa fa-envelope"></i> <span><a
                        href="mailto:contact@erpharbor.com;" target="_blank">contact@erpharbor.com</a></span>
                </div>
                <div class="oe_job">
                    <i class="fa fa-facebook-square"></i> <span><a
                        href="https://www.facebook.com/erpharborcs" target="_blank">erpharborcs</a></span>
                </div>
                <div class="oe_job">
                    <i class="fa fa-google-plus-square"></i> <span><a
                        href="https://plus.google.com/+Odooapps" target="_blank">+ERPHarborCS</a></span>
                </div>
                <div class="oe_job">
                    <i class="fa fa-twitter-square"></i> <span><a
                        href="https://twitter.com/ERPHarborCS" target="_blank">@ERPHarborCS</a></span>
                </div>
                <div class="oe_job">
                    <i class="fa fa-globe"></i> <span><a
                        href="http://www.erpharbor.com/" target="_blank">www.erpharbor.com</a></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="oe_container oe_separator"></section>
